---
Checks:          'clang-diagnostic-*,clang-analyzer-*,*,-readability-isolate-declaration,-llvmlibc-restrict-system-libc-headers,-hicpp-signed-bitwise,-llvm-header-guard,-clang-diagnostic-unused-macros,-altera-struct-pack-align,-android-cloexec-fopen,-bugprone-integer-division,-altera-unroll-loops,-bugprone-easily-swappable-parameters,-altera-id-dependent-backward-branch,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-readability-function-cognitive-complexity,-misc-no-recursion,-bugprone-sizeof-expression'
...
