[submodule "third_party/termbox-widgets"]
	path = third_party/termbox-widgets
	url = https://github.com/git-bruh/termbox-widgets
[submodule "third_party/termbox2"]
	path = third_party/termbox2
	url = https://github.com/termbox/termbox2
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/git-bruh/stb
[submodule "subprojects/libmatrix"]
	path = subprojects/libmatrix
	url = https://git.sr.ht/~git-bruh/libmatrix
